.stats-summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.stat-box {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
